@{
    ViewBag.Title = "PPGruppiReparti";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}
@model IZSLER_CAP.Models.ListaGruppiRepartiModel

 <div class="with-padding">
  @Html.Partial("_PPGruppiReparti")
</div> 
