@{
    ViewBag.Title = "PopUpRespingiAnalisi";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}
@model IZSLER_CAP.Models.AnalisiModel
@using IZSLER_CAP.Helpers         

<div class="with-padding">

	<form method="post" action="" class="columns" >@*onsubmit="return false">*@

	<div class="twelve-columns six-columns-tablet twelve-columns-mobile">
        <fieldset class="fieldset">
        <p>Inserire il motivo della mancata validazione @Model.Analisi.Analisi_VN - @Model.Analisi.Analisi_MP_Rev </p>
	    <legend class="legend">Motivazione</legend>
        <p class="button-height">
	        @*<label for="input-2" class="label">Motivazione</label>*@
	        <textarea  name="cleditorResp" id="cleditorResp"  ></textarea>
        </p>
        <p class="button-height">
            <a href="#" onclick="saveDataPopUpAnalisiResp( @Model.Analisi.Analisi_id);"  class="button red-gradient glossy">Invia</a>
        </p>
        </fieldset>
    </div> 
    </form> 
</div>

  <script  type ="text/javascript"> loadScriptRef("startPopUpRespingiAnalisi.js");</script>